In [1]:
import pandas as pd
import numpy as np

In [2]:
qu = pd.read_csv(r'C:\Users\niels\OneDrive\data_1\CRSP-Daily\c87ebd90a260cdee_csv\c87ebd90a260cdee.csv',
                 parse_dates=['rdq','datadate','ipodate'],low_memory=False)

In [3]:
qu.head()

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,xinty,xrdy,xsgay,costat,dvpspq,prccq,sic,spcindcd,spcsrc,ipodate
0,1004,2000-02-29,1999,3,5,INDL,C,D,STD,AIR,...,17.749,NaN,72.556,A,0.085,23.750,5080,110.0,B,1988-01-01
1,1004,2000-05-31,1999,4,5,INDL,C,D,STD,AIR,...,23.431,NaN,102.195,A,0.085,13.875,5080,110.0,B,1988-01-01
2,1004,2000-08-31,2000,1,5,INDL,C,D,STD,AIR,...,5.988,NaN,24.544,A,0.085,11.250,5080,110.0,B,1988-01-01
3,1004,2000-11-30,2000,2,5,INDL,C,D,STD,AIR,...,11.706,NaN,48.423,A,0.085,10.375,5080,110.0,B,1988-01-01
4,1004,2001-02-28,2000,3,5,INDL,C,D,STD,AIR,...,17.139,NaN,71.710,A,0.085,13.600,5080,110.0,B,1988-01-01

In [4]:
qu = qu.reset_index(drop=True)
qu = qu[qu['tic'].notnull()]

In [5]:
qu.reset_index(inplace=True,drop=True)

In [6]:
qu = qu[qu['rdq'].notnull()]

In [7]:
qu[qu['tic'] == 'AAPL']

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,xinty,xrdy,xsgay,costat,dvpspq,prccq,sic,spcindcd,spcsrc,ipodate
7843,1690,2000-03-31,2000,2,9,INDL,C,D,STD,AAPL,...,10.0,182.0,788.0,A,0.00,135.8125,3663,190.0,B+,1980-12-12
7844,1690,2000-06-30,2000,3,9,INDL,C,D,STD,AAPL,...,15.0,279.0,1163.0,A,0.00,52.3750,3663,190.0,B+,1980-12-12
7845,1690,2000-09-30,2000,4,9,INDL,C,D,STD,AAPL,...,21.0,380.0,1546.0,A,0.00,25.7500,3663,190.0,B+,1980-12-12
7846,1690,2000-12-31,2001,1,9,INDL,C,D,STD,AAPL,...,5.0,102.0,399.0,A,0.00,14.8750,3663,190.0,B+,1980-12-12
7847,1690,2001-03-31,2001,2,9,INDL,C,D,STD,AAPL,...,10.0,203.0,792.0,A,0.00,22.0700,3663,190.0,B+,1980-12-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7914,1690,2017-12-31,2018,1,9,INDL,C,D,STD,AAPL,...,734.0,3407.0,7638.0,A,0.63,169.2300,3663,190.0,B+,1980-12-12
7915,1690,2018-03-31,2018,2,9,INDL,C,D,STD,AAPL,...,1526.0,6785.0,15166.0,A,0.63,167.7800,3663,190.0,B+,1980-12-12
7916,1690,2018-06-30,2018,3,9,INDL,C,D,STD,AAPL,...,2372.0,10486.0,22975.0,A,0.73,185.1100,3663,190.0,B+,1980-12-12
7917,1690,2018-09-30,2018,4,9,INDL,C,D,STD,AAPL,...,3240.0,14236.0,30941.0,A,0.73,225.7400,3663,190.0,B+,1980-12-12
7918,1690,2018-12-31,2019,1,9,INDL,C,D,STD,AAPL,...,890.0,3902.0,8685.0,A,0.73,157.7400,3663,190.0,B+,1980-12-12

## Quarterly Ratios

## Utility Functions

In [8]:
def coalesce(col1,col2):
    return col1.combine_first(col2)

In [9]:
def ttm(col):
    return pd.concat([col.shift(i) for i in range(4)],axis=1).sum(axis=1)

In [10]:
def mean_year(col):
    return pd.concat([col.shift(i).fillna(0) for i in range(4)],axis=1).mean(axis=1)

In [11]:
def quarterize(col):
    return coalesce(col.shift(0) - col.shift(1),col.shift(0))

In [12]:
qu.columns

Index(['gvkey', 'datadate', 'fyearq', 'fqtr', 'fyr', 'indfmt', 'consol',
       'popsrc', 'datafmt', 'tic',
       ...
       'xinty', 'xrdy', 'xsgay', 'costat', 'dvpspq', 'prccq', 'sic',
       'spcindcd', 'spcsrc', 'ipodate'],
      dtype='object', length=108)

In [13]:
qu = qu.set_index(['gvkey','fyr','fyearq','fqtr']).sort_index()

In [14]:
qu.head()

                        datadate indfmt consol popsrc datafmt  tic  ajexq  \
gvkey fyr fyearq fqtr
1004  5   1999   3    2000-02-29   INDL      C      D     STD  AIR    1.0
                 4    2000-05-31   INDL      C      D     STD  AIR    1.0
          2000   1    2000-08-31   INDL      C      D     STD  AIR    1.0
                 2    2000-11-30   INDL      C      D     STD  AIR    1.0
                 3    2001-02-28   INDL      C      D     STD  AIR    1.0

                      curcdq datacqtr datafqtr  ...   xinty  xrdy    xsgay  \
gvkey fyr fyearq fqtr                           ...
1004  5   1999   3       USD   2000Q1   1999Q3  ...  17.749   NaN   72.556
                 4       USD   2000Q2   1999Q4  ...  23.431   NaN  102.195
          2000   1       USD   2000Q3   2000Q1  ...   5.988   NaN   24.544
                 2       USD   2000Q4   2000Q2  ...  11.706   NaN   48.423
                 3       USD   2001Q1   2000Q3  ...  17.139   NaN   71.710

                       costat  dvpspq   prccq   sic  spcindcd  spcsrc  \
gvkey fyr fyearq fqtr
1004  5   1999   3          A   0.085  23.750  5080     110.0       B
                 4          A   0.085  13.875  5080     110.0       B
          2000   1          A   0.085  11.250  5080     110.0       B
                 2          A   0.085  10.375  5080     110.0       B
                 3          A   0.085  13.600  5080     110.0       B

                         ipodate
gvkey fyr fyearq fqtr
1004  5   1999   3    1988-01-01
                 4    1988-01-01
          2000   1    1988-01-01
                 2    1988-01-01
                 3    1988-01-01

[5 rows x 104 columns]

# Valuation Ratios

### Book/Market

In [15]:
qu['beq'] = qu['seqq'] + qu['txditcq'] - qu['pstkq']

In [16]:
qu['bmq'] = qu['beq']/(qu['prccq'] * qu['cshoq'])

### Book Value per Share(diluted)

In [17]:
qu['book_value_per_share'] = qu['beq']/qu['cshfdq']

### Book Value Yield

In [18]:
qu['book_value_yield'] = qu['book_value_per_share']/qu['prccq']

### Market Cap

In [19]:
qu['market_cap'] = qu['prccq']*qu['cshoq']

In [20]:
qu = qu[qu['market_cap'].notnull()]

###  Buy Back Yield

In [21]:
qu['buy_back_yield'] = qu['cshprq'] * qu['prcraq']/qu['market_cap']

### Invested Capital

In [22]:
qu['icaptq'] = coalesce(qu['icaptq'], qu['dlttq'] + qu['pstkq'] + qu['mibq'] + qu['ceqq'])

### Enterprise Value Multiple

In [23]:
sales = qu.groupby(['gvkey','fyr','fyearq'])['saleq'].sum()
qu['yearly_sales'] = sales

In [24]:
num = pd.concat([qu['dlttq'],qu['dlcq'],qu['mibq'],qu['pstkq'], qu['prccq']*qu['cshoq']],axis=1).sum(axis=1)
ttm_oibdpq = pd.concat([qu['oibdpq'].groupby(['gvkey']).shift(i) for i in range(4)],axis=1).sum(axis=1)
ttm_cogsq = pd.concat([qu['cogsq'].groupby(['gvkey']).shift(i) for i in range(4)],axis=1).sum(axis=1)
ttm_xsgaq = pd.concat([qu['xsgaq'].groupby(['gvkey']).shift(i) for i in range(4)],axis=1).sum(axis=1)
denom = coalesce(ttm_oibdpq,qu['yearly_sales'] - ttm_cogsq -  ttm_xsgaq)

qu['evmq'] = (num/denom).groupby(['gvkey','fyr','fyearq']).mean()

### Price-to-Operating EPS, excl. EI (basic)

In [25]:
qu['pe_op_basicq'] = coalesce(qu['oeps12'],ttm((qu['opepsq']/qu['ajexq']).groupby(['gvkey'])))

### Price-to-Operating EPS, excl. EI (diluted)

In [26]:
qu['pe_op_dilq'] = coalesce(qu['oepf12'],ttm((qu['oepsxq']/qu['ajexq']).groupby(['gvkey'])))

### Price-to-Earnings, excl. EI (diluted)

In [27]:
qu['pe_exiq'] = coalesce(qu['epsf12'],ttm((qu['epsfxq']/qu['ajexq']).groupby(['gvkey'])))

### Schiller's P/E

In [28]:
qu['capeiq'] = qu['pe_exiq'].groupby(['gvkey']).apply(lambda x: x.ewm(alpha=0.0025,adjust=True).mean())

### Price-to-Earnings, incl. EI (diluted)

In [29]:
qu['pe_incq'] =coalesce(qu['epsfi12'],ttm((qu['epsfiq']/qu['ajexq']).groupby(['gvkey'])))

In [30]:
qu['psq'] = qu['yearly_sales']

### Operating Cash Flow

In [31]:
qu['oancfy_q'] = quarterize(qu['oancfy'].groupby(['gvkey','fyr','fyearq']))

qu['opcfq']=coalesce(ttm(qu['oancfy_q'].groupby(['gvkey'])),pd.concat([ttm(qu['ibq'].groupby(['gvkey'])), 
                                                            - qu['actq'].groupby(['gvkey']).diff(4)
                                                            +qu['cheq'].groupby(['gvkey']).diff(4),
                                                            -qu['lctq'].groupby(['gvkey']).diff(4),
                                                            qu['dlcq'].groupby(['gvkey']).diff(4),
                                                             qu['txpq'].groupby(['gvkey']).diff(4),
                                                            -ttm(qu['dpq'].groupby(['gvkey']))],axis=1).sum(axis=1))

### Operating Cash Flow Yield

In [32]:
qu['cfo-per-share'] = qu['opcfq']/qu['cshfdq']
qu['cf_yield'] = qu['cfo-per-share']/qu['prccq']

### Price-to-Cash Flow

In [33]:
qu['pcfq'] = qu['prccq']/qu['opcfq']

### Dividend Payout Ratio, Cash dividends

In [34]:
qu['dvq'] = quarterize(qu['dvy'].groupby(['gvkey','fyr','fyearq']))
qu['dprq'] = ttm(qu['dvq'] + qu['dvpq'])/coalesce(qu['ibadj12'],ttm(qu['ibadjq']))

# Profitability Ratios and Rates of Return

###  Net Profit Margin

In [35]:
qu['npmq'] = ttm(qu['ibq'].groupby(['gvkey']))/qu['yearly_sales']

### Operating Profit Margin Before Depreciation

In [36]:
 qu['opmbdq'] = coalesce(ttm(qu['oibdpq'].groupby(['gvkey'])),qu['yearly_sales'] - ttm(qu['xoprq'].groupby(['gvkey'])))/qu['yearly_sales']

###  Operating Profit Margin After Depreciation

In [37]:
qu['opmadq'] =coalesce(ttm(qu['oiadpq'].groupby(['gvkey'])),coalesce(ttm((qu['oibdpq']-qu['dpq']).groupby(['gvkey'])),qu['yearly_sales']\
                                                                     -ttm(qu['xoprq'].groupby(['gvkey']))-ttm(qu['dpq'].groupby(['gvkey']))))/qu['yearly_sales']

###  Gross Profit Margin

In [38]:
qu['gpmq'] = ttm((qu['revtq']-qu['cogsq']).groupby(['gvkey']))/qu['yearly_sales']

### Pretax Profit Margin

In [39]:
qu['ptpmq'] \
=coalesce(ttm(qu['piq'].groupby(['gvkey'])),ttm(qu['oiadpq'].groupby(['gvkey']))\
          -ttm(qu['xintq'].groupby(['gvkey'])) + ttm(qu['spiq'].groupby(['gvkey']))\
          + ttm(qu['nopiq'].groupby(['gvkey'])))/qu['yearly_sales']

### Cash Flow Margin

In [40]:
qu['ibcq'] = quarterize(qu['ibcy'].groupby(['gvkey','fyr','fyearq']))
qu['dpcq'] = quarterize(qu['dpcy'].groupby(['gvkey','fyr','fyearq']))

qu['cfmq']=coalesce(ttm((qu['ibcq']+qu['dpcq']).groupby(['gvkey'])),\
                    ttm((qu['ibq'] + qu['dpq']).groupby(['gvkey'])))/qu['yearly_sales']

### Return on Assets

In [41]:
qu['at4'] = mean_year(qu['atq'].groupby(['gvkey']))

qu['roaq'] = coalesce(ttm(qu['oibdpq'].groupby(['gvkey'])),qu['yearly_sales']\
                      -ttm(qu['xoprq'].groupby(['gvkey'])))/(qu['at4'].shift(1))

### Return on Capital Employed

In [42]:
qu['roceq'] =coalesce(ttm(qu['oiadpq'].groupby(['gvkey'])),
                      coalesce(ttm(qu['oibdpq'].groupby(['gvkey']))
                      -ttm(qu['dpq'].groupby(['gvkey'])),
                       coalesce(qu['yearly_sales']
                       -ttm(qu['xoprq'].groupby(['gvkey']))
                       -ttm(qu['dpq'].groupby(['gvkey'])),
                       qu['yearly_sales']
                       -ttm(qu['cogsq'].groupby(['gvkey']))
                       -ttm(qu['xsgaq'].groupby(['gvkey']))
                       -ttm(qu['dpq'].groupby(['gvkey'])))))\
 /((mean_year(qu['dlttq']+qu['dlcq']+qu['ceqq']).groupby(['gvkey'])).shift(1))

### Effective Tax Rate

In [43]:
qu['efftaxq']=ttm(qu['txtq'].groupby(['gvkey']))/coalesce(ttm(qu['piq'].groupby(['gvkey'])),ttm(qu['oiadpq'].groupby(['gvkey']))\
                                                          -ttm(qu['xintq'].groupby(['gvkey']))
                                                          +ttm(qu['spiq'].groupby(['gvkey']))
                                                          +ttm(qu['nopiq'].groupby(['gvkey'])))

In [44]:
qu['ceq4'] = mean_year(qu['ceqq'].groupby(['gvkey']));
qu['seq4'] =  mean_year(qu['seqq'].groupby(['gvkey']));
qu['lctq4'] = mean_year(qu['lctq'].groupby(['gvkey']));
qu['be4'] = mean_year(qu['beq'].groupby(['gvkey']));

In [45]:
qu['lagbe4'] = qu['be4'].shift(1) 
qu['lagseq4'] = qu['seq4'].shift(1)
qu['lagicapt4'] = mean_year((qu['icaptq'] + qu['txditcq'] -qu['mibq']).groupby(['gvkey'])).shift(1)
qu['lagppent4'] =(mean_year((qu['ppentq'] + qu['actq'] -qu['lctq']).groupby(['gvkey']))).shift(1)
qu['lagppent_alt4'] = (mean_year((qu['ppentq']+qu['actq']).groupby(['gvkey']))).shift(1)

In [58]:
qu = qu.copy()
qu['lagbe4'].loc[1004]= qu['be4'].iloc[0]
qu['lagseq4'].loc[1004]= qu['seq4'].iloc[0]
qu['lagicapt4'].loc[1004]= mean_year((qu['icaptq'] + qu['txditcq'] -qu['mibq']).groupby(['gvkey'])).iloc[0]
qu['lagppent4'].loc[1004]= mean_year((qu['ppentq'] + qu['actq'] -qu['lctq']).groupby(['gvkey'])).iloc[0]
qu['lagppent_alt4'].loc[1004] = mean_year((qu['ppentq']+qu['actq']).groupby(['gvkey'])).iloc[0]

### Return on Equity

In [59]:
qu['roeq'] = ttm(qu['ibq'].groupby(['gvkey']))/qu['lagbe4']

### After Tax Return on average Common Equity

In [60]:
qu['aftret_eqq'] = coalesce(ttm(qu['ibcomq'].groupby(['gvkey']))
                                ,ttm((qu['ibq']-qu['dvpq']).groupby(['gvkey'])))\
                            /(qu['ceq4'].shift(1))

### After Tax Return on Invested Capital

In [61]:
 qu['aftret_invcapxq'] =\
    ttm((qu['ibq']+qu['xintq'] + qu['miiq']).groupby(['gvkey']))\
    /qu['lagicapt4']

### After Tax Teturn on Total Stock Holder's Equity

In [62]:
qu['aftret_equityq'] = \
ttm(qu['ibq'].groupby(['gvkey']))/(qu['seq4'].shift(1))

### Pretax Return on Net Operating Assets

In [63]:
qu['pretret_noaq'] =\
coalesce(ttm(qu['oiadpq'].groupby(['gvkey'])),coalesce(ttm((qu['oibdpq']-qu['dpq']).groupby(['gvkey']))
                                                           ,qu['yearly_sales']-\
                                                           ttm(qu['xoprq'].groupby(['gvkey']))-\
                                                           ttm(qu['dpq'].groupby(['gvkey']))))/\
                                                       qu['lagppent4']

### Pretax return on Total Earning Assets

In [64]:
qu['pretret_earnatq'] = \
coalesce(ttm(qu['oiadpq'].groupby(['gvkey'])),
    coalesce(ttm((qu['oibdpq']-qu['dpq']).groupby(['gvkey'])),
         qu['yearly_sales']-\
         ttm(qu['xoprq'].groupby(['gvkey']))-\
         ttm(qu['dpq'].groupby(['gvkey']))))/qu['lagppent_alt4']

### Gross Profitability as % of Total Assets

In [65]:
qu['gprofq'] = ttm((qu['revtq']- qu['cogsq']).groupby(['gvkey']))/qu['at4']

# Capitalization Ratios

###   Common Equity as % of Invested Capital

In [66]:
qu['equity_invcapq'] = \
mean_year(qu['ceqq'].groupby(['gvkey']))/mean_year(qu['icaptq'].groupby(['gvkey']))

###  Long-Term debt as % of Invested Capital

In [67]:
qu['debt_invcapq'] =\
mean_year(qu['dlttq'].groupby(['gvkey']))/mean_year(qu['icaptq'].groupby(['gvkey']))

### Total Debt as % of Invested Capital

In [68]:
qu['totdebt_invcapq'] =\
mean_year((qu['dlttq']+qu['dlcq']).groupby(['gvkey']))\
/mean_year(qu['icaptq'].groupby(['gvkey']))

### Capitalization Ratio

In [69]:
qu['capital_ratioq'] =\
mean_year(qu['dlttq'].groupby(['gvkey']))/\
mean_year((qu['dlttq']+qu['ceqq']+qu['pstkq']).groupby(['gvkey']))

# Financial Soundness Ratios

### Interest as % of Average Long-Term Debt

In [70]:
qu['int_debtq'] =\
ttm(qu['xintq'].groupby(['gvkey']))/mean_year(qu['dlttq'].groupby(['gvkey']))

### Interest as % of Average Total Debt

In [71]:
qu['int_totdebtq'] = \
ttm(qu['xintq'].groupby(['gvkey']))/\
mean_year((qu['dlttq']+qu['dlcq']).groupby(['gvkey']))

### Cash balance to Total Liabilities

In [72]:
qu['cash_ltq'] =\
mean_year(qu['cheq'].groupby(['gvkey']))/mean_year(qu['ltq'].groupby(['gvkey']))

###  Inventory as % of Current Assets

In [73]:
qu['invt_actq'] =\
mean_year(qu['invtq'].groupby(['gvkey']))/mean_year(qu['actq'].groupby(['gvkey']))

###  Receivables as % of Current Assets

In [74]:
qu['rect_actq'] =\
mean_year(qu['rectq'].groupby(['gvkey']))/mean_year(qu['actq'].groupby(['gvkey']))

###  Total debt as % of Total Assets

In [75]:
qu['debt_atq'] = \
mean_year((qu['dlttq'] + qu['dlcq']).groupby(['gvkey']))/mean_year(qu['actq'].groupby(['gvkey']))

### Gross Debt to Ebitda

In [76]:
qu['debt_ebitdaq'] =\
mean_year((qu['dlttq']+qu['dlcq']).groupby(['gvkey']))\
/coalesce(ttm(qu['oibdpq'].groupby(['gvkey'])),qu['yearly_sales']\
          -ttm(qu['cogsq'].groupby(['gvkey']))\
          -ttm(qu['xsgaq'].groupby(['gvkey'])))

### Short Term Debt as % of Total Debt

In [77]:
qu['short_debtq'] = \
mean_year(qu['dlcq'].groupby(['gvkey']))/\
mean_year((qu['dlttq']+qu['dlcq']).groupby(['gvkey']))

### Current Liabilities as % of Total Liabilities*/

In [78]:
qu['curr_debtq'] =\
mean_year(qu['lctq'].groupby(['gvkey']))/mean_year(qu['ltq'].groupby(['gvkey']))

###  Long-Term Debt as % of Total Liabilities

In [79]:
qu['lt_debtq'] = \
mean_year(qu['dlttq'].groupby(['gvkey']))/mean_year(qu['ltq'].groupby(['gvkey']))

### Profit before D&A to Current Liabilities

In [80]:
 qu['profit_lctq'] = \
coalesce(ttm(qu['oibdpq'].groupby(['gvkey'])),\
         qu['yearly_sales']-\
         ttm(qu['xoprq'].groupby(['gvkey'])))/\
    mean_year(qu['lctq'].groupby(['gvkey']))

### Operating Cash Flow to Current Liabilities

In [81]:
qu['ocf_lctq'] =\
qu['opcfq']/mean_year(qu['lctq'].groupby(['gvkey']))

### Free Cash Flow to Operating Cash Flow

In [82]:
qu['capxq'] = quarterize(qu['capxy'].groupby(['gvkey','fyr','fyearq']))
qu['fcf_ocfq'] = \
(qu['opcfq'] - ttm(qu['capxq'].groupby(['gvkey'])))/qu['opcfq']

### Free Cash Flow per Share

In [83]:
qu['fcf_csfhdq'] = (qu['opcfq'] - ttm(qu['capxq'].groupby(['gvkey'])))/qu['cshfdq']

In [84]:
qu['fcf_yield'] = qu['fcf_csfhdq']/qu['prccq']

### Cash Flow to Debt

In [85]:
qu['cash_debtq'] =\
coalesce(ttm(qu['oancfy_q'].groupby(['gvkey'])),ttm(qu['ibq'].groupby(['gvkey']))\
         - qu['actq'].diff(4)\
         -qu['cheq'].diff(4))\
         -qu['lctq'].diff(4)\
         +qu['dlcq'].diff(4)\
         +qu['txpq'].diff(4)\
         -ttm(qu['dpq'].groupby(['gvkey']))\
        /mean_year(qu['ltq'].groupby(['gvkey']))

### Total Liabilities to Total Tangible Assets

In [86]:
qu['lt_ppentq'] =\
mean_year(qu['ltq'].groupby(['gvkey']))/mean_year(qu['ppentq'].groupby(['gvkey']))

### Long-Term Debt to Book Equity

In [87]:
qu['dltt_beq'] = \
mean_year(qu['dlttq'].groupby(['gvkey']))/mean_year(qu['beq'].groupby(['gvkey']))

# Solvency Ratios

### Debt-to-Assets

In [88]:
qu['debt_assetsq'] =\
mean_year(qu['ltq'].groupby(['gvkey']))/mean_year(qu['atq'].groupby(['gvkey']))

### Debt-to-Capital

In [89]:
qu['debt_capitalq'] =\
mean_year((qu['apq'] + qu['dlcq'] + qu['dlttq']).groupby(['gvkey']))\
/mean_year((qu['apq']+qu['dlcq']+qu['dlttq']+qu['ceqq']+qu['pstkq']).groupby(['gvkey']))

###  Debt to Equity Ratio

In [90]:
qu['de_ratioq'] =\
mean_year(qu['ltq'].groupby(['gvkey']))/mean_year((qu['ceqq']+qu['pstkq']).groupby(['gvkey']))

###  After Tax Interest Coverage

In [91]:
qu['intcovq'] = \
ttm((qu['xintq']+qu['ibq']).groupby(['gvkey']))/ttm(qu['xintq'].groupby(['gvkey']))

###  Interest Coverage Ratio

In [92]:
qu['intcov_ratioq'] = \
coalesce(ttm(qu['oiadpq'].groupby(['gvkey'])),\
         qu['yearly_sales']\
         -ttm(qu['cogsq'].groupby(['gvkey']))\
         -ttm(qu['xintq'].groupby(['gvkey']))
         -ttm(qu['xsgaq'].groupby(['gvkey']))\
         -ttm(qu['dpq'].groupby(['gvkey'])))\
         /ttm(qu['xintq'].groupby(['gvkey']))

# Liquidity Ratios

### Cash Ratio

In [93]:
qu['cash_ratioq'] =\
mean_year(qu['cheq'].groupby(['gvkey']))/mean_year(qu['lctq'].groupby(['gvkey']))

### Quick Ratio (acid test)

In [94]:
qu['quick_ratioq'] = \
coalesce(mean_year((qu['actq']-qu['invtq']).groupby(['gvkey'])),\
         mean_year((qu['cheq']+qu['rectq']).groupby(['gvkey'])))/\
mean_year(qu['lctq'].groupby(['gvkey']))

### Current Ratio

In [95]:
qu['curr_ratioq'] =\
coalesce(mean_year(qu['actq'].groupby(['gvkey'])),
         mean_year((qu['cheq'] + qu['rectq']+qu['invtq']).groupby(['gvkey'])))\
        /mean_year(qu['lctq'].groupby(['gvkey']))

### Cash Conversion Cycle

In [96]:
qu['cash_conversionq'] =\
(mean_year(qu['invtq'].groupby(['gvkey']))/(ttm(qu['cogsq'].div(365))))\
+(mean_year(qu['rectq'].groupby(['gvkey'])) /(qu['yearly_sales'].div(365)))\
-(mean_year(qu['apq'].groupby(['gvkey']))/(ttm(qu['cogsq'].groupby(['gvkey'])).div(365)))

# Activity Efficiency Ratios

### Inventory Turnover

In [97]:
qu['inv_turnq'] = \
ttm(qu['cogsq'].groupby(['gvkey']))/mean_year(qu['invtq'].groupby(['gvkey']))

### Asset Turnover

In [98]:
qu['at_turnq']= qu['yearly_sales']/qu['at4']

### Receivables Turnover

In [99]:
qu['rect_turnq'] =qu['yearly_sales']/mean_year(qu['rectq'].groupby(['gvkey']))

### Payables Turnover

In [100]:
qu['pay_turnq'] = \
ttm((qu['cogsq'] + qu['invtq'].diff(4)).groupby(['gvkey']))\
 /mean_year(qu['apq'].groupby(['gvkey']))

# Miscellanous Ratios

### Sale per dollar of Invested Capital

In [101]:
qu['sale_invcapq'] = qu['yearly_sales']/mean_year(qu['icaptq'].groupby(['gvkey']))

### Sales per dollar of Total Stockholders' Equity

In [102]:
qu['sale_equityq'] = qu['yearly_sales']/qu['seq4']

### Sales per dollar of Working Capital

In [103]:
qu['sale_nwcq'] =qu['yearly_sales']/mean_year((qu['actq']-qu['lctq']).groupby(['gvkey']))

### R&D as % of sales

In [104]:
qu['rd_saleq'] =\
ttm(qu['xrdq'].fillna(0).groupby(['gvkey']))/qu['yearly_sales']

### Accrual

In [105]:
qu['at5']  = pd.concat([qu['atq'],qu['atq'].shift(1),qu['atq'].shift(2),qu['atq'].shift(3),\
qu['atq'].shift(4)],axis=1).mean(axis=1)

qu['accrualq'] = \
coalesce(ttm((qu['oancfy_q']-qu['ibq']).groupby(['gvkey'])),
         -qu['actq'].diff(4)\
         +qu['cheq'].diff(4)\
         +qu['lctq'].diff(4)\
         -qu['dlcq'].diff(4)\
         -qu['txpq'].diff(4)\
         +ttm(qu['dpq'].groupby(['gvkey']))/qu['at5'])

# End of Ratio Definitions

In [106]:
qu = qu.reset_index()

In [107]:
qu['rdq'] = pd.to_datetime(qu['rdq'])

In [108]:
import numpy as np

In [109]:
qu[qu == np.Inf] = np.NaN

In [110]:
# qu['qdate'] = pd.to_datetime(qu['datadate'])
# qu.drop(['datadate'],axis=1,inplace=True)

In [111]:
qu

,gvkey,fyr,fyearq,fqtr,datadate,indfmt,consol,popsrc,datafmt,tic,...,inv_turnq,at_turnq,rect_turnq,pay_turnq,sale_invcapq,sale_equityq,sale_nwcq,rd_saleq,at5,accrualq
0,1004,5,1999,3,2000-02-29,INDL,C,D,STD,AIR,...,2.792712,2.639638,11.737527,0.000000,3.803403,5.809473,5.681407,0.000000,753.75500,-5.288
1,1004,5,1999,4,2000-05-31,INDL,C,D,STD,AIR,...,2.474152,1.331083,6.679805,0.000000,1.907461,2.917374,2.851905,0.000000,747.37650,-3.375
2,1004,5,2000,1,2000-08-31,INDL,C,D,STD,AIR,...,2.434096,1.559571,8.246424,0.000000,2.237802,3.424255,3.363654,0.000000,747.43200,-14.277
3,1004,5,2000,2,2000-11-30,INDL,C,D,STD,AIR,...,2.319998,1.159783,6.339430,0.000000,1.677920,2.566594,2.561861,0.000000,753.80925,-0.662
4,1004,5,2000,3,2001-02-28,INDL,C,D,STD,AIR,...,2.077080,1.159413,6.791055,2.043102,1.676432,2.562113,2.546039,0.000000,753.99100,-8.997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607902,326688,12,2018,2,2018-06-30,INDL,C,D,STD,NVT,...,3.981358,1.463643,18.352877,15.669705,1.820277,2.484350,15.495721,0.006568,1056.40420,38.300
607903,326688,12,2018,3,2018-09-30,INDL,C,D,STD,NVT,...,4.023774,0.731318,9.170157,16.458153,0.914088,1.237768,7.952986,0.013316,1955.81540,71.100
607904,326688,12,2018,4,2018-12-31,INDL,C,D,STD,NVT,...,6.174674,0.488514,6.252380,10.080191,0.612059,0.827104,5.459050,0.020422,2833.38960,165.000
607905,327451,12,2018,2,2018-06-30,INDL,C,D,STD,GRIN,...,51.983855,1.269334,NaN,27.674876,1.469856,1.995251,7.883916,0.000000,2894.59100,-32.793
607906,328032,12,2018,4,2018-12-31,INDL,C,D,STD,NMCI,...,NaN,0.332902,NaN,NaN,0.375984,0.754435,NaN,0.000000,2920.29320,47.751

In [112]:
qu.loc[(qu['gvkey'] != qu['gvkey'].shift(3)) | \
(qu['fyr'] != qu['fyr'].shift(3)) | \
(ttm(qu.set_index(['gvkey','fyearq'])['fqtr'].groupby(['gvkey'])).values != 10.0)\
       ,['pe_op_basicq','pe_op_dilq','pe_exiq','pe_incq','psq','pcfq','evmq','dprq','npmq','opmbdq','opmadq','gpmq','ptpmq','cfmq','intcov_ratioq',
        'gprofq','equity_invcapq','debt_invcapq','capital_ratioq','totdebt_invcapq','int_debtq','int_totdebtq','cash_ltq','invt_actq',
        'rect_actq','debt_atq','short_debtq','curr_debtq','lt_debtq','profit_lctq','ocf_lctq','lt_ppentq','dltt_beq','efftaxq','fcf_ocfq',
        'debt_assetsq','debt_capitalq','de_ratioq','intcovq','cash_ratioq','quick_ratioq','curr_ratioq','inv_turnq','cash_debtq',
        'at_turnq','rect_turnq','pay_turnq','sale_invcapq','sale_equityq','sale_nwcq','rd_saleq','accrualq','cash_conversionq','debt_ebitdaq',
        'roaq','roeq','roceq','aftret_eqq','aftret_invcapxq','aftret_equityq','pretret_noaq','pretret_earnatq']] = np.nan

In [113]:
ratios = list(set(['gvkey', 'fyr', 'fyearq', 'fqtr', 'tic','rdq','qdate', 'beq', 'bmq', 'capeiq', 'evmq', 'pe_op_basicq', 'pe_op_dilq', 'pe_incq', 'pe_exiq',
               'psq', 'pcfq', 'dprq', 'npmq', 'opmbdq', 'opmadq', 'gpmq', 'ptpmq', 'intcov_ratioq','cfmq', 'roaq', 'roeq', 'roceq', 'aftret_eqq',
               'aftret_invcapxq', 'aftret_equityq', 'pretret_noaq', 'pretret_earnatq', 'equity_invcapq',  'debt_invcapq', 'fcf_ocfq',
        'totdebt_invcapq', 'int_debtq', 'int_totdebtq', 'cash_ltq', 'invt_actq', 'rect_actq', 'debt_atq', 'short_debtq', 'curr_debtq', 'lt_debtq',
        'capital_ratioq','profit_lctq', 'ocf_lctq', 'lt_ppentq', 'dltt_beq', 'debt_assetsq', 'debt_capitalq', 'de_ratioq', 'intcovq', 'cash_ratioq', 
         'quick_ratioq', 'curr_ratioq', 'debt_ebitdaq','inv_turnq', 'capeiq','at_turnq', 'rect_turnq', 'pay_turnq', 'sale_invcapq', 'sale_equityq',
        'sale_nwcq', 'rd_saleq', 'accrualq', 'gprofq', 'cash_conversionq','sic', 'spcindcd', 'spcsrc','fcf_csfhdq','cshfdq','cshopq','cshiq','book_value_per_share',
          'market_cap', 'buy_back_yield', 'yearly_sales','cfo-per-share', 'cf_yield',  ]))

In [114]:
qu.to_csv(r'C:\Users\niels\data\Quarterly-Ratios.csv')

In [115]:
qu.to_pickle(r'C:\Users\niels\data\Quarterly-Ratios.pkl')